@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;500&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --fs-sm: 0.875rem;
  --fs-med: 1.25rem;
  --fs-lg: 2rem;
  --fs-xl: 2.75rem;
  --fs-xxl: 3.25rem;

  --fw-reg: 400;
  --fw-bold: 500;
}

a {
  text-decoration: none;
  font: inherit;
  color: inherit;
  cursor: pointer;
}
